*.class

# Package Files #
target/
*.jar
*.war
*.ear

# eclipse ignores
.settings/
.project
.classpath

# idea ignores
.idea/
*.iml
*.ipr
*.iws

# temp ignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# jta files
*.epoch
*.lck

# local dev ignore
dev/
*-local.properties
local-*.properties

# private secret
*.jks

# gitbook target
_book/